<!DOCTYPE html>
<html>
<head>
  <title>Student Info by Campus</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h2>Student Info by Campus</h2>
  <p>Here you will find basic information on each campus</p>
  <table>
    <tr>
      <th>Campus</th>
      <th>Average Age</th>
      <th>Number of Students</th>
    </tr>
      <% @campus_info.each do |school| %>
      <tr>
        <td><%=school['campus']%></td>
        <td><%=school['avg_age']%></td>
        <td><%=school['counts']%></td>
      </tr>
      <% end %>
  </table>
  <h2>Student Info by Campus</h2>
  <p>Here is a list of campuses</p>
  <table>
    <tr>
      <th>Campus Code</th>
      <th>Campus Name</th>
    </tr>
      <% @campuses.each do |campus| %>
      <tr>
          <td><%= campus['campus_code'] %></td>
          <td><%= campus['campus_name'] %></td>
      </tr>
      <% end %>
    </table>
  </ul>
</body>
</html>

